body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally in the container */
    justify-content: center; /* Center items vertically in the container */
    height: 90vh; /* Make the container fill the height of the viewport */
    text-align: center; /* Center the text of all child elements */
}

button {
    margin: 10px 0; /* Add some vertical spacing between buttons and text */
    /* Add any additional styling for your buttons here */
}

h2, p {
    margin: 10px 0; /* Ensure consistent spacing around headings and paragraphs */
    /* Additional styling for your headings and paragraphs */
}
title {
    font-size: 2rem; /* Adjust the font size as needed */
    margin: 1em 0; /* Add some space above and below the title */
    text-align: center; /* Center the title */
}

h1 {
    font-size: 4vw;
    padding: 10px;
}

h2 {
    font-size: 3vw;
    padding: 10px;
}
h3 {
    font-size: 2vw;
    padding: 10px;
}

p {
    font-size: 1rem; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust line height for readability */
    text-align: justify; /* Justify text for a clean look, or use 'left' for standard alignment */
    margin: 1em 0; /* Add some space above and below paragraphs */
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem; /* Smaller heading font size on small devices */
    }
    p {
        font-size: 0.9rem; /* Smaller paragraph font size on small devices */
    }
    .container {
        padding: 20px; /* Add some padding on smaller screens */
        height: auto; /* Let the container grow with content */
        min-height: 100vh; /* Ensure it's at least as tall as the viewport */
    }
}
