body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Georgia', serif; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
    min-height: 90vh;
}


button {
    margin: 10px 0;
}

h1, h2, h3, p {
    margin: 10px 0;
}

h1 {
    font-size: 4vw;
    padding: 10px;
}

h2 {
    font-size: 3vw;
    padding: 10px;
}

h3 {
    font-size: 2vw;
    padding: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin: 1em 0;
}

button {
    margin: 10px 0;
    padding: 8px 16px; 
    font-size: 1rem; 
}


@media (max-width: 768px) {
    h1, h2, h3, p {
        font-size: 1.2rem; 
    }
    
    h1 {
        font-size: 2rem; 
    }

    h2 {
        font-size: 1.5rem; 
    }

    h3 {
        font-size: 1.3rem; 
    }

   
    img {
        width: 100%; 
        height: auto; 
        max-width: 400px; 
    }

   
    button {
        padding: 12px 24px; 
        font-size: 1.2rem; 
    }

 
    .container {
        padding: 20px;
        height: auto;
        min-height: 100vh;
    }
}