body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Georgia', serif; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
    min-height: 90vh;
}


button {
    margin: 10px 0;
}

h1, h2, h3, p {
    margin: 10px 0;
}

h1 {
    font-size: 4vw;
    padding: 10px;
}

h2 {
    font-size: 3vw;
    padding: 10px;
}

h3 {
    font-size: 2vw;
    padding: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin: 1em 0;
}

@media (max-width: 768px) {
    h1, h2 {
        font-size: 1.5rem; 
    }
    p {
        font-size: 0.9rem;
    }
    .container {
        padding: 20px;
        min-height: auto; 
        width: 100%; 
    }
}
