<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Find Your Bob</title>
</head>
<div class="container"></div>
<body>
    <h1>Find Your Bob</h1>
    <img src='https://upload.wikimedia.org/wikipedia/commons/a/a7/Bob_Dylan_1978.jpg' alt="Bob Dylan" style= "height: 300px; width: 300px; display: block; margin-left: auto; margin-right: auto;margin-top: auto;margin-bottom: auto;">
    <p> The discography of our greatest living songwriter can be large and overwhelming, where is a newcomer to dive into the great river of Bob? Maybe you know of Bob’s work from the ‘60s but don’t know where to dive into the other stuff. Here at Find Your Bob, we offer some assistance, log in with your Spotify account and we’ll show you the album that best matches your Spotify listening history, as well as make you a personalized Bob playlist.</p>
    <h3> First login to Spotify </h3>
    <a href="/login" style="margin-bottom: 20px;"><button id="spotify-login">Login with Spotify</button></a>
    <h2>Find Your Bob Album</h2>
    <p>Find the album in Bob's discography that best matches your musical preferences. Select whether you’d like to only see studio albums or if you’d like to include bootlegs and live recordings as well.</p>
    <label for="studio-only">Studio Albums Only:</label>
    <input type="checkbox" id="studio-only" name="studio-only">
    <button id='find_closest_album' onclick="get_closest_album()">Get Top Album</button>
    <div id="album-result"></div>
    <h2>Make your Bob playlist</h2>
    <p>Get a playlist of Bob songs customized to your listening profile.</p>
    <button id="make-playlist" onclick="make_playlist()">Make Playlist</button>
    <div id="playlist-result"></div>
    <script>
        function get_closest_album() {
            const studioOnly = document.getElementById('studio-only').checked;
    
            fetch('/find_closest_album', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ studioOnly: studioOnly }),
            })
            .then(response => response.text())
            .then(html => {
            document.getElementById('album-result').innerHTML = html;
            });
        }


        function make_playlist() {
            fetch('/make_playlist', {method: 'POST'}) 
                .then(response => response.text())
                .then(html => {
                    document.getElementById('playlist-result').innerHTML = html;
                });
        }
    </script>
</body>
</div>
</html>
